.newUser input {
    background-color: #003C7A;
    border: 2px solid black;
    color: white;
    width: 120px;
    height: 30px;
    margin: 8px;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  .newUser button {
      width: 60px;
      height: 24px;
      border: 2px solid black;
      margin: auto;
      padding: auto;
      display: block;
      align-content: center;
      background-color: #003C7A;
      color: #fff;
      border-radius: 5px;
      font-weight: bold;
      transition: 0.5s ease;
    }
  
    .newUser button:hover {
      background-color: #001f3f;
      opacity: 90%;
    }

    