.Create {  
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .Create form {
    border: 3px solid black;
    padding: 8px;
    background-color: #001f3f;
    border-radius: 5px;
    height: auto;
    width: 90vh;
    margin: auto;
    padding: 3px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
  }

  .Create input {
    background-color: #003C7A;
    border: 2px solid black;
    color: white;
    width: 292px;
    height: 40px;
    margin: 8px;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }

  .Create button {
    width: 146px;
    height: 40px;
    border: 2px solid black;
    margin: 12px auto;
    display: block;
    align-content: center;
    background-color: #003C7A;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .Create button:hover {
    background-color: #001f3f;
    opacity: 90%;
  }
  
  .Create h5 {
      margin: 0;
  }