.ProfilePage {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    margin: auto;
    /* border: 1px solid black; */
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
}

.Profile {
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 2%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #206060;
}

.pAvatar {
    width: 250px;
    height: 250px;
    margin: 4px auto;
}

.pAvatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.backbtn {
    left: 0;
    top: 10%;
    padding-right: 2px;
    position: absolute;
}
.backbtn img {
    transition: 0.5s ease;
}
.backbtn img:hover {
    opacity: 0.3
}

.profile p {
    padding: 0;
}

.avaFrame {
    height: auto;
    background-color: white;
    border-bottom: 2px solid black;
    border-radius: 2%;
    background-color: #012F2F;
}

.favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.favoritething {
    padding-left: 8px;
    padding-right: 8px;
    transition: 0.5s ease;
}

.favoritething:hover {
    color: gray;
}

h1 {
    padding: 2px;
}

.Profilepage p {
    padding: 20px;
}

.recentPosts {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.recentPosts img {
    height: 120px;
    width: 120px;
    padding: 10px;
    border-radius: 2%;
}