.Post {
    border-radius: 3px;
    display: inline-block;
    border: 3px solid black;
    background-color: #206060;
    margin-left: 20%;
    margin-right: 35%;
    margin-top: 3%;
    width: 55vh;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: "Times New Roman", Times, serif;
  }

  .generated {
    border: 3px solid gold;
  }

  .generated img {
    transition: 0.5s ease;
  }
  
  .generated img:hover {
    opacity: 0.3;
  }

  .user {
    border: 3px solid black;
  }

  .Post-user {
    display: flex;
    padding: 16px;
    align-items: center;
  }

  .Post-user-avatar {
    width: 30px;
    height: 30px;
  }

  .Post-user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
  }
  
  .Post-user-username {
    margin-left: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }

  .Post-image img {
    display: block;
    width: 100%;
    max-height: 900px;
  }

  .Post-caption {
    padding: 16px 16px;
  }

  .Post-caption strong {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }


  @media only screen and (max-width: 600px) {
    .Post {
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;

    }
}