.UserBox {
    border-radius: 3px;
    display: flex;
    float: right;
    justify-content: center;
    flex-direction: row;
    border: 3px solid black;
    background-color: #206060;
    margin-right: 3%;
    width: 355px;
    height: 605px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: "Times New Roman", Times, serif;
  }

  .ubox {
    width: 200px;
    height: 200px;
    margin-top: 5%;
  }

  .ubox img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .avatar {
    border: 1px solid black;
  }
  .ubox h3 {
     padding: 0;
  }

  .ub-icons {
   display: flex;
   flex-direction: row;
   justify-content: center;
  }
  
  .ub-icons img {
      margin: 8px;
      transition: 0.5s ease;
  }

  .icon:hover {
      opacity: 0.5;
  }

  @media only screen and (max-width: 600px) {
      .UserBox {
    display: none;
      }
  }

  .addMore {
    display: block;
    padding: 10px;
  }

  .addMusic {
    background-color: #2ECC40;
    border: solid #01FF70;
    border-radius: 2px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: bolder;
    font-size: 25px;
    transition: 0.5s ease;
  }

  .addMusic:hover {
    background-color: #01FF70;
    border: solid black;
    color: black;
  }


  .addUserPost {
    background-color: #0074D9;
    border: solid #01FF70;
    border-radius: 2px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: bolder;
    font-size: 25px;
    transition: 0.5s ease;
    margin-left: 8px;
  }

  .addUserPost:hover {
    background-color: #2496FC;
    border: solid black;
    color: black;
  }